<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>EEG Data</title>
        <link rel=stylesheet type=text/css href="{{ url_for('static', filename='css/style.css') }}">
    </head>
    <body>
        <h1>Nap EEG</h1>
        <p>Click on a channel to see plot</p>
        <div id="channel_toggle_buttons"></div>
        <img src="{{ url_for('static', filename='images/head-channels.jpg') }}" width="30%" height="30%">
        <div id="overview_plots"></div>
        <h3>Spindle Information Plots</h3>
        <div id="spindle_plots"></div>
        <script src="{{ url_for('static', filename='js/jquery-3.2.1.min.js') }}"></script>
        <script src="{{ url_for('static', filename='js/d3.v4.min.js') }}"></script>
        <script src="{{ url_for('static', filename='js/queue.v1.min.js') }}"></script>
        <script src="{{ url_for('static', filename='js/index.js') }}"></script>
    </body>
</html>